<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="gryffindor"
            routerLinkActive="active-link"
            >Gryffindor</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="slytherin"
            routerLinkActive="active-link"
            >Slytherin</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="ravenclaw"
            routerLinkActive="active-link"
            >Ravenclaw</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="hufflepuff"
            routerLinkActive="active-link"
            >HufflePuff</a
          >
        </li>
      </ul>
    </div>
    <div class="">
      <button type="button" class="btn btn-secondary" (click)="onLogout()">
        Log out
      </button>
    </div>
  </div>
</nav>
